.edit-vote{
    width: 100%;
    padding: 50px 30px;
}
.edit-vote li{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.edit-vote li:nth-child(odd){
    background-color: #e5e5e5;
}