.participation-pg {
   background-color: #14213d;
   width: 100%;
   height: 100vh;
   position: relative;
}
.participation-card {
   width: 400px;
   height: 550px;
   background-color: #fff;
   position: absolute;
   border-radius: 10px;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 20px 10px;
   position: relative;
}
.card-title {
   font-size: 22px;
}
.upload-img-container {
   width: 100%;
   height: 300px;
   background-color: peachpuff;
   position: relative;
   z-index: -2;
}
.upload-img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.upload-img-container p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-container {
   margin-top: 15px;
   height: 100px;
}
.action-container input {
   border: none;
   border-bottom: 1px solid #777;
   background: transparent;
   width: 80%;
   padding: 5px 20px;
   text-align: center;
}
.hide {
   display: none;
}
.action-container input:focus {
   outline: none;
   box-shadow: none;
}
.btn-choose {
   background-color: #fca311;
   color: #fff;
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   transition: all 0.3s;
}
.yt-link {
   position: relative;
   cursor: pointer;
   color: palevioletred;
}

.btn-choose:hover {
   text-decoration: none;
   color: #fff;
}
.btn-submit {
   background-color: teal;
   color: #fff;
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.btn-submit:hover {
   text-decoration: none;
   color: #fff;
}

@media only screen and (max-width: 420px) {
   .participation-card {
      width: 300px;
   }
   .card-title {
      font-size: 18px;
   }
   .upload-img-container p {
      font-size: 14px;
   }
   .btn-submit {
      font-size: 12px;
   }
   .btn-choose {
      font-size: 14px;
   }
   .yt-link {
      font-size: 14px;
   }
}
