.buy-tickets {
   width: 100%;
   padding: 50px 0;
   background-color: #14213d;
   display: flex;
   justify-content: center;
   align-items: center;
}
.buy_tickets_conatainer {
   width: 900px;
   max-width: 900px;
   border-radius: 30px;
   /* height: 90vh; */
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   padding: 20px;
   padding-bottom: 40px;
   margin-bottom: 30px;
   text-align: center;
   margin: 0 10px;
}
.tickets_titlebox {
   width: 100%;
   padding: 50px;
   text-align: center;
   background-image: linear-gradient(
         315deg,
         rgba(0, 0, 0, 0.7) 0%,
         rgb(65, 65, 65, 0.7) 74%
      ),
      url(../../assets/money-bg.jpg);
   background-size: cover;
   color: #fff;
   text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
}
.tickets_titlebox h5 {
   letter-spacing: '1.5px';
   margin-top: 20px;
}
.error {
   color: red;
}

.buy_tickets_conatainer p {
   margin-bottom: 10px;
}

.ticket-ques {
   margin-top: 40px;
}
.ticket_pre_container {
   width: 100%;
   display: flex;
}
.buy-more {
   height: 45px;
   width: 300px;
   border: 1px solid #8a92a3;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   border-radius: 2px;
   margin-top: 10px;
   padding-left: 10px;
   font-size: 16px;
}
.btn-buy-tickets {
   display: inline-block;
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #fca311;
   border-radius: 10px;
   color: #fff !important;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
   .buy-tickets {
      height: auto;
      padding: 50px 0;
   }
   .tickets_titlebox {
      padding: 30px;
   }
   .tickets_titlebox h3 {
      font-size: 20px;
   }
   .tickets_titlebox span {
      display: block;
   }
}
