.nav-new{
    width: 100%;
    height: 60px;
    background-color: #14213d;
    display: flex;
    justify-content: space-between;
}
.logo-new{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin: auto 100px;
    cursor: pointer;
}
.nav-items{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.btn-signin{
    background-color: #fff;
    color: #777;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Lato';
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    display: none;
}
.btn-signin:hover{
    color: #777;
    transform: translateY(-2px);
}
.btn-signin:active{
    transform: translateY(0px);
}
.item-text{
    margin-left: 10px;
    margin-right: 20px;
    color: #fff;
}
.coin-img{
    width: 30px;
    height: 30px;
}
.login-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.btn-login{
    color: #fff;
    padding: 15px 15px;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-login:hover{
    color: #fff;
    transform: translateY(-2px);
}
.google{
    /* background-color: #4285F4; */
    color: #777;
    position: relative;
    padding-left: 50px;
}
.google:hover{
    /* background-color: #2d71de; */
    color: #777;
}
.fb{
    background-color: rgb(23,114,233);
}
/* .fb:hover{
    background-color: rgb(20, 96, 196);
} */
.apple{
    background-color: rgb(0,0,0);
}
/* .apple:hover{
    background-color: rgb(38, 37, 37);
} */
.apple-logo{
    width: 20px;
    transform: scale(1.4) translateY(-0.5px);
}
.fb-logo{
    width: 20px;
    transform: translate(-5px,-3px);
}
.google-logo{
    position: absolute;
    top: -4px;
    left: -4px;
    height: 62px;
}
.btn-login:last-child{
    margin-bottom: 0;
}
.nav-profile{
    width:50px;
    cursor: pointer;
}
@media only screen and (max-width:780px) {
    .logo-new{
        margin: auto 50px;
    }
    .nav-items{
        margin-right: 50px;
    }
}
@media only screen and (max-width:630px) {
    .logo-new{
        margin: auto 20px;
    }
    .nav-items{
        margin-right: 20px;
    }
    .btn-signin{
        padding: 10px 15px;
        font-size: 12px;
    }
    .item-text{
        font-size: 12px;
    }
    .coin-img{
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 500px){
    .logo-new{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .nav-profile{
        width:40px;
    }
}
@media only screen and (max-width: 400px){
    .coin-img{
        display: none;
    }
    .item-text{
        display: none;
    }
}