.bottom-nav {
   display: none;
}
@media only screen and (max-width: 686px) {
   .bottom-nav {
      width: 100%;
      height: 70px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: fixed;
      bottom: 0;
      z-index: 500;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   .item-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #777;
      cursor: pointer;
   }
   .bottom-nav-icons {
      width: 30px;
   }
   .coin-container {
      position: relative;
   }
   .coins {
      position: absolute;
      top: 3px;
      right: -18px;
      padding: 5px;
      border-radius: 50%;
      background-color: red;
      color: #fff;
   }
   .ticket-container {
      position: relative;
   }
   .tickets {
      position: absolute;
      top: 3px;
      right: -30px;
      padding: 5px;
      width: 100%;
      text-align: center;
      border-radius: 50%;
      background-color: red;
      color: #fff;
   }
   .profile-icon {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
   }
}

@media only screen and (max-width: 450px) {
   .bottom-nav-icons {
      width: 30px;
   }
   .item-box {
      font-size: 12px;
   }
   .tickets {
      top: 0px;
      right: -25px;
   }
   .coins {
      top: 0;
   }
}
@media only screen and (max-width: 300px) {
   .bottom-nav-icons {
      width: 25px;
   }
   .item-box {
      font-size: 10px;
   }
}
