.profile-container{
    width: 1100px;
    height: 100%;
    background-color: #fff;
    padding-bottom: 50px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    font-family: 'Lato';
}
.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #29303b;
    margin-top: 30px;
}
.profile-name{
    margin-top: 20px;
    font-size: 18px;
    color: #29303b;
}
.nav-main{
    width: 100%;
    height: 100%;
    border: 1px solid #d3d3d3;
}

@media only screen and (max-width: 1100px){
    .profile-container{
        width: 800px;
        height: 100%;
        background-color: #fff;
        padding-bottom: 50px;
        margin: 50px auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        display: flex;
        font-family: 'Lato';
    }
}
@media only screen and (max-width: 600px){
    .profile-container{
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding-bottom: 50px;
        margin: 50px auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        font-family: 'Lato';
    }
}