@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}

.heroBox{
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
}
.heroBox-container{
    width: 75%;
}
.heroBox-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroBox-heading{
    font-size: 28px;
    font-weight: 900;
    color: rgb(39, 51, 57);
}
.heroBox-tagline{
    font-size: 17px;
    margin-top: 20px;
    color: rgb(39, 51, 57);
}
.heroBox-img{
    background: url(../../assets/explore.png) no-repeat center;
    background-size: contain;
}
.carousel-img1{
    width: 100%;
    height: 100%;
    background: url(../../assets/explore.png) no-repeat center;
    background-size: contain;
}
.img1{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:800px){
    .heroBox-container{
        width: 100%;
    }
}

@media only screen and (max-width:800px){
    .heroBox-container{
        width: 100%;
    }
}