.submission{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
    margin-top: 50px;
    transition: all 0.5s;
    position: relative;
}

.submission:hover{
    transform: translateY(-5px) scale(1.01);
}

.selected{
    background: black;
}
.sub-img-container{
    height: 80%;
    overflow: hidden;
    padding: 0;
}
.sub-head{
    background-color: teal;
    padding: 10px;
    color: #fff;
    width: 100%;
}
.vote-container{
    background-color: aquamarine;
    display: flex;
    width: 100%;
    text-align: center;
}
.btn-vote{
    background-color: teal;
    color: #fff;
    width: 100%;
    padding: 5.7px;
    cursor: pointer;
    text-decoration: none !important;
}
.btn-vote:last-child{
    border-left: 1px solid #000;
}
.btn-vote:hover{
    color: #fff;
    background-color: rgb(0,87,87);
}
.wrapper-img{
    width: 100%;
}
@media only screen and (max-width:560px){
    .submission{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
        margin-right:10px ;
    }
    .sub-head{
        font-size: 14px !important;
    }
    .btn-vote{
        font-size: 14px !important;
    }
}