.manage-coins {
   width: 100%;
   height: 100%;
   padding: 0 20px;
   margin-bottom: 50px;
}

.prizes {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.search-filter-container {
   margin-top: 20px;
   width: 100%;
   height: 70px;
   display: flex;
   padding: 0 50px;
   align-items: center;
   justify-content: center;
   position: relative;
}
.input-search {
   width: 100%;
   border-radius: 30px;
   border: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   padding: 10px 30px;
}
.filter-combo{
   background-color: #e93b81;
   color: #fff;
   padding: 12px 10px;
   border-radius: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   margin-left: 10px;
   border: none;
   outline: none;
   cursor: pointer;
}
.search-box{
   width: 100%;
   display: flex;
   position: relative;
   cursor: pointer;
}
.btn-search{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333 !important;
   font-weight: 400;
   right: 0;
   /* width: 120px; */
   padding: 0 25px;
   height: 100%;
   border-radius: 30px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #fca311;
}
#search-text{
   margin-left: 7px;
}

@media only screen and (max-width: 1100px){
   .search-filter-container {
      padding: 0 10px;
   }
}
@media only screen and (max-width: 600px){
  #search-text{
     display: none;
  }
}
@media only screen and (max-width: 600px){
   .search-filter-container {
      flex-direction: column;
      margin-top: 30px;
      height: auto;
      justify-content: space-between;
      padding: 20px 10px;
   }
   .filter-combo{
      margin-top: 20px;
      margin-left: auto;
   }
}
@media only screen and (max-width: 400px){
   .search-filter-container{
      padding: 20px 0;
   }
   .manage-coins {
      padding: 0 10px;
   }
}
