.competition-content {
   max-width: 1200px;
   background-color: #f7f7f7;
   margin: 60px auto;
   border-radius: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   overflow: hidden;
}
.cover-img {
   width: 100%;
   height: 40vh;
   object-fit: cover;
   position: relative;
}

.section-submission {
   width: 100%;
   background-color: #f7f7f7;
   padding: 100px 20px;
   margin: 50px 0 100px 0;
   border-radius: 30px;
   text-align: center;
}
.submission-title {
   text-transform: uppercase;
   font-size: 30px;
   font-family: 'Lato';
   letter-spacing: 5px;
   color: rgb(48, 111, 215);
   margin-bottom: 20px;
   margin-top: 150px;
}
.border-info {
   margin-bottom: 50px;
   color: gray;
   font-size: 14px;
   line-height: 15px;
}
.submissions {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   position: relative;
}
.submitButton {
   background-color: #fca311;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   color: #fff;
   padding: 10px 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   position: fixed;
   bottom: 100px;
   right: -200px;
   transition: all 0.5s;
   z-index: 2000;
   cursor: pointer;
}
.submitButton:hover {
   color: #fff;
   text-decoration: none;
}

.submission_card {
   width: 100%;
}
.competition-info-container {
   width: 100%;
   background-color: #e3e3e3;
   padding: 100px;
   position: relative;
   padding-left: 50px;
}
.competition-info-text {
   width: 80%;
   margin: 0 auto;
   border-left: 2px solid #000;
   padding-left: 50px;
}
.nd-ld-container {
   background-color: #e5e5e5;
   margin-bottom: 50px;
   padding: 100px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.nd-ld-container p {
   margin-top: 20px;
}
@media only screen and (max-width: 780px) {
   .cover-dp {
      display: none;
   }
}
@media only screen and (max-width: 600px) {
   .submitButton {
      font-size: 12px;
      padding: 10px 15px;
   }
   .competition-info-container {
      display: none;
   }
}
@media only screen and (max-width: 560px) {
   .section-submission {
      padding: 100px 20px;
   }
}
@media only screen and (max-width: 470px) {
   .section-submission {
      width: 100%;
      padding: 100px 10px;
   }
}
@media only screen and (max-width: 350px) {
   .submission-title {
      font-size: 22px;
      letter-spacing: 3px;
   }
}
