.faq-container {
   max-width: 900px;
   margin: 50px auto;
   margin-bottom: 50px;
   height: 100%;
   text-align: left;
}
.faq-container ul {
   background: rgba(255, 255, 255, 0.4);
   padding: 20px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.faq-container ul li:first-child {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 10px;
}
