.loading{
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 21, 25);
    position: fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 11000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    background-color: transparent;
}