.slider{
    /* margin: 50px 100px; */
    height: 70vh;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
}
.slide{
    border: 1px solid #000;
    min-width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.navigation{
    position: absolute;
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    color: transparent;
}
#left{
    left: 0;
}
.navigation:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
}
.navigation:focus{
    outline: none;
}
#right{
    right: 0;
}
.img1{
    min-width:110%;
    height: 110%;
    transform: translate(-10px,-10px);
    background: url(../../assets/first.jpg) no-repeat center;
    background-size: cover;
}
.img2{
    min-width:110%;
    height: 110%;
    transform: translateY(-10px);
    background: url(../../assets/second.jpg) no-repeat center;
    background-size: cover;
}
.img3{
    min-width:110%;
    height: 110%;
    transform: translateY(-10px);
    background: url(../../assets/third.jpg) no-repeat center;
    background-size: cover;
}

@media only screen and (max-width:800px){
    .slider{
        background-color: teal;
        margin: 50px 50px;
        border-radius: 20px;
        height: 70vh;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        backface-visibility: hidden;
    
    }
}

@media only screen and (max-width:430px){
    .slider{
        background-color: teal;
        margin: 20px;
        border-radius: 20px;
        height: 70vh;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        backface-visibility: hidden;
    
    }
}