@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');
.featured{
    width: 700px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 100px 0;
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
    position: relative;
    margin-left: 100px;
}
.featured-text{
    padding: 30px 40px;
}
.featured-heading{
    font-size: 30px;
    color: rgb(39,51,57);
}
.featured-tagline{
    font-size: 16px;
    color: #a6a6a6;
}
.featured-info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.featured-info{
    font-size: 18px;
    color: rgb(39,51,57);
}
.btn-blue{
    display: inline-block;
    background: rgb(47,74,228);
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 32%;
}

.featured-img{
    background-image: url(../../assets/featured.png);   
}


@media only screen and (max-width:850px){
    .featured{
        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        margin: 100px 0;
        font-family: 'Nunito Sans', sans-serif;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-img{
        display: none;
    }

    /* .btn-blue{
        background: rgb(47,74,228);
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: white;
    }     */
    .featured-info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .btn-blue{
        position: relative;
        margin: 20px;
    }
}

@media only screen and (max-width:550px){
    .featured{
        width: 70%;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        font-family: 'Nunito Sans', sans-serif;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-blue{
        margin-left: 30px;
    }
}

@media only screen and (max-width:450px){
    .featured-heading{
        font-size: 24px;
    }
    .featured-tagline{
        font-size: 13px;
        color: #a6a6a6;
    }
    .featured-info{
        font-size: 16px;
        color: rgb(39,51,57);
    }
    .btn-blue{
        margin-left: 50px;
        font-size: 14px;
    }
}

@media only screen and (max-width:350px){
    .featured{
        width: 90%;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        font-family: 'Nunito Sans', sans-serif;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-heading{
        font-size: 20px;
    }
    .featured-tagline{
        font-size: 13px;
        color: #a6a6a6;
    }
    .featured-info{
        font-size: 14px;
        color: rgb(39,51,57);
    }
    .btn-blue{
        margin-left: 50px;
        font-size: 14px;
    }
}