.footer {
   background-color: #333;
   padding: 10rem 0;
   color: #f7f7f7;
   height: 60vh;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.logo-footer {
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 50px;
   width: 100%;
   text-align: center;
   margin: 0 auto;
}
.footer ul {
   position: absolute;
   bottom: 50px;
   display: flex;
   width: 600px;
   justify-content: space-between;
}
.footer li {
   width: 100%;
   text-align: center;
   border-right: 1px solid #fff;
   cursor: pointer;
}
.footer li:last-child {
   border-right: none;
   text-align: right;
}
.link-tg {
   color: #fff !important;
   margin-bottom: 10px;
}
.ft-links-ct {
   width: 600px;
   height: 300px;
   max-width: 600px;
   margin-top: 100px;
   position: relative;
   display: flex;
   justify-content: space-around;
   padding-top: 10px;
   border-top: 1px solid rgb(214, 57, 100);
}
.ft-link-ct::before {
   content: '';
   position: absolute;
   top: -12px;
   height: 2px;
   width: 100%;
   background-color: rgb(214, 57, 100);
}
.ft-link-column {
   display: flex;
   align-items: center;
   flex-direction: column;
}
@media only screen and (max-width: 686px) {
   .logo-footer {
      transform: translateY(-30px);
   }
   .ft-links-ct {
      margin-top: 10px;
      width: 100%;
   }
   .link-tg {
      font-size: 14px;
   }
}
@media only screen and (max-width: 520px) {
   .logo-footer {
      font-size: 40px;
   }
   .link-tg {
      font-size: 12px;
   }
}
@media only screen and (max-width: 450px) {
   .footer {
      margin-bottom: 40px;
   }
   .ft-links-ct {
      margin-top: 0;
      font-size: 12px;
      width: 200px;
      font-size: 14px;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
   }
   .ft-link-column {
      margin-bottom: 5px;
   }
}
@media only screen and (max-width: 390px) {
   .logo-footer {
      font-size: 30px;
   }
}
@media only screen and (max-width: 330px) {
}
