.footer {
   background-color: #333;
   padding: 10rem 0;
   color: #f7f7f7;
   height: 60vh;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.logo-footer {
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 50px;
   width: 100%;
   text-align: center;
   margin: 0 auto;
   transform: translateY(-20px);
}
.footer ul {
   position: absolute;
   bottom: 50px;
   display: flex;
   width: 600px;
   max-width: 600px;
   justify-content: space-between;
}
.footer li {
   width: 100%;
   text-align: center;
   border-right: 1px solid #fff;
   cursor: pointer;
}
.footer li:last-child {
   border-right: none;
   text-align: right;
}
.link-tg {
   color: #fff !important;
}

@media only screen and (max-width: 520px) {
   .footer-links {
      width: 440px;
      /* background-color: palevioletred; */
   }
   .logo-footer {
      font-size: 40px;
   }
}
@media only screen and (max-width: 450px) {
   .footer-links {
      width: 100%;
      padding: 0 10px;
      font-size: 14px;
      flex-wrap: wrap;
   }
}
@media only screen and (max-width: 390px) {
   .logo-footer {
      font-size: 30px;
   }
   .footer-links {
      width: 100%;
      padding: 0 10px;
      font-size: 12px;
   }
}
@media only screen and (max-width: 330px) {
   .footer-links {
      padding: 0 10px;
      font-size: 12px;
      justify-content: center;
   }
   .footer-link-text:nth-child(2) {
      margin-left: 10px;
   }
}
