.all-competitions-content{
    width: 80%;
    margin: 60px auto;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px){
    .all-competitions-content{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}