.app {
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
}
.category {
   width: 100%;
   display: flex;
   justify-content: center;
}
.around:last-child {
   margin-left: 20px;
}
.around {
   border: solid 2px rgb(47, 74, 228);
   padding: 5px 10px;
   border-radius: 10px;
   transition: all 0.3s;
}
.around:hover {
   color: #fff !important;
   background-color: rgb(81, 106, 247);
}
/* .cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
} */
.Toastify {
   z-index: 99999;
}
a {
   text-decoration: none !important;
}
