@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #efefef;
   margin-bottom: 0 !important;
}
html {
   scroll-behavior: smooth;
}
a {
   text-decoration: none;
}

h1,
h2,
h3 {
   margin-bottom: 0px;
}
a {
   margin-bottom: 0px;
}
p {
   margin-bottom: 0px;
}
ul,
li {
   list-style: none;
}
