@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');
.Nav{
    padding: 20px 100px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    font-family: 'Nunito Sans',sans-serif;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 30px;
    color: rgb(47,74,228);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}
.sign{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
a{
    text-decoration: none;
}
.btn{
    font-size: 22px;
    cursor: pointer;
}
.btn:visited{
    text-decoration: none;
    color: rgb(47,74,228);
}
.btn:hover{
    color: Red;
}
.profile{
    display: none;
}
@media only screen and (max-width:1200px) {
    .register{
        display: none;
    }
    .Nav{
        padding: 20px 50px  ;
    }
    .btn{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 700px){
    .logo{
        font-size: 25px;
        color: rgb(47,74,228);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .btn{
        margin-left: 100px;
        font-size: 18px;
        transform: translateY(4px);
    }
}

@media only screen and (max-width: 480px){
    .logo{
        font-size: 25px;
        color: rgb(47,74,228);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer;
    }
    .btn{
       display: none;
    }
    .Nav{
        padding: 20px;
        width: 100%;
        display:flex;
        justify-content: space-between;
        font-family: 'Nunito Sans',sans-serif;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .profile{
        display: block;
        transform: translateY(5px);
    }

}
@media only screen and (max-width: 360px){
    .logo{
        font-size: 20px;
        color: rgb(47,74,228);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        cursor: pointer;
        margin-left: 10px;
    }
    .btn{
       display: none;
    }
    .Nav{
        padding: 20px;
        width: 100%;
        display:flex;
        justify-content: space-around;
        font-family: 'Nunito Sans',sans-serif;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .profile{
        display: block;
        margin-right: 10px;
    }

}